<div class="container-fluid">
    <div class="row">
        <mat-toolbar color="warning">
                <a href="#">Header</a>
                <!-- <span class="spacer"></span>
                <div class="col-3">
                    <a href="#">Profile</a>
                    <a href="#">Notifications</a>
                </div> -->
        </mat-toolbar>
    </div>
</div>
<div class="main">
    <h1>Content works</h1>
    <p>go to localhost:4200/tab1 to view the contents of tab1</p>
</div>
<div class="container-fluid footer">
    <div class="row">
        <mat-toolbar color="warning">
                <a href="#">Footer</a>
        </mat-toolbar>
    </div>
</div>