<div class="container-fluid">
    <div class="row">
        <mat-toolbar color="primary">
                <div class="col-2">
                    <a href="">Toggle</a>
                </div>
                <div class="col-7">
                    <a href="#">Header</a>
                </div>
                <span class="spacer"></span>
                <div class="col-3">
                    <a href="#">Profile</a>
                    <a href="#">Notifications</a>
                </div>
        </mat-toolbar>
    </div>
</div>